/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  max-width: 90%;
  margin: 0 auto;
}
/* webfont*/

b, strong {
    font-weight: 700;
}
p {
    color: #777;
    line-height: 24px;
    margin: 0 0 20px;
}
a {
    /*color: #0088cc;*/
    color: #000;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #1d2127;
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0;
        margin-bottom: 0px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h3, h3 {
    font-size: 24px;
}
h3 {
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-bottom: 33px;
    text-transform: uppercase;
}

/**/