/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}


body {
  background-color: #FFF;
  color: #777;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0
}
/* webfont*/

b, strong {
  font-weight: 700;
}
p {
  margin: 0 0 20px;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  outline: none !important;
  color: #000;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #1d2127;
  font-weight: 200;
  letter-spacing: -1px;
  margin: 0;
  margin-bottom: 0px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1.1;
  color: #1d2127;
  font-weight: 200;
  letter-spacing: -1px;
  margin: 0;
}
h1 {
  border-bottom: none;
  color: #1d2127;
  font-size: 2.3em;
}
h2 {
  font-size: 2.2em;
  font-weight: 300;
  line-height: 42px;
  margin: 0 0 32px 0;
}
.h3, h3 {
  font-size: 24px;
}
h3 {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 33px;
  text-transform: uppercase;
}
/* Utilisé par bloc Accueil Présentation */
h4 {
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 27px;
    margin: 0 0 14px 0;
}

.footer {
  font-size: 14px;
  color: #fff;
  background: #08c;
  line-height: 28px;
}

/*Menu mobile */
.navbar-toggle .icon-bar {
  background-color: #000;
}

/* Barre Titre */
.title_breadcrumb {
  margin: 0 0 35px 0;
  min-height: 50px;
  position: relative;
  text-align: left;
  background-color: #F7F7F7;
  border-bottom: 5px solid #F4F4F4;
  border-top: none;
  padding: 35px 0;
}
h1.page-header {
  padding-bottom: 13px;
  margin: 0;
  display: inline-block;
  font-size: 32px;
  font-weight: 200;
  line-height: 32px;
  border-bottom: none;
  color: #1d2127;
  font-size: 2.3em;
}

/* Menu principal 
incluant menu collapsible (todo)
1er niveau */

/* min-width : mobile declencheur */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul.menu > li a::after {
  display: none;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border: none;
}
.navbar-default {
  background-color: transparent;
  border: none;
  float: right;
}
.nav > li {
  float: left;
  line-height: 24px;
  list-style: none;
}
.navbar-default .navbar-nav > li > a {
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 10px 13px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  color: #0088cc;
}
.navbar-default .navbar-nav > li:hover > a {
  background: #0088cc;
  color: #FFF;
}

/* Menu principal collapsé */
.collapse.in {
  display: block;

  ul.menu > li {
    clear: both;
    width: 100%;
  }
}
.navbar-default .collapse.in .navbar-nav > li > a {
  width: 100%;
}


/* Menu langue */
.language-switcher-language-url {
  float: right;
}
.language-switcher-language-url li {
  display: inline-block;
  padding-left: 1em;
}


/* Titre des blocs */
.block .block-title {
  background: none;
  position: relative;
  margin: 0 0 10px;
  color: #08c;
  border-bottom: 1px solid #08c;
  z-index: 1;
}

/* Slices */
.footer_navigation {
  background: #1F1E23;
  color: #fff;
}
.copyright {
  background: transparent;
}
.footer {
  font-size: 14px;
  color: #fff;
  background: transparent;
  line-height: 28px;
}
#footer h2 {
  letter-spacing: normal;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer a {
  color: #FFF;
}
#footer h2 {
  font-size: 1.8em;
  margin-bottom: 14px;
  line-height: 27px;
}

/* Recherche V1 - sans module custom */
.top_navigation {
  /* TEMP 
  #block-formulaireexposeenvironnement-recherchepage-1-3 #edit-submit-environnement-recherche {
    font-size: 0;
  }
  .glyphicon {
    font-size: 12px;
  }
  #block-formulaireexposeenvironnement-recherchepage-1-3 {
    width: 40%;
    float: right;
  }
  .views-exposed-form .form-item input {
   width: 200px;
  }
  */
  .control-label {
    display: none;
  }

}
/* La région apparaît même si exclus de la page d'accueil */
.path-frontpage .title_breadcrumb {
  display: none;
}
/* search collapsible */
#block-collapsiblesearch {
  width: 33%;
  float: right;
  margin-bottom: 0;
}
.top_navigation {
  padding-top: 20px;
  padding-bottom: 0;
}
.language-switcher-language-url {
    float: right;
    margin-bottom: 0;
}
.navbar {
  min-height: auto;
  margin-bottom: 16px;
}
ul.menu > li {
  padding-top: 0;
  padding-bottom: 0;
}
#block-chronologie-selecteurdelangue {
    color: #999;
    font-size: 0.9em;
    padding: 6px 10px;
    display: inline-block;
    }
    /* alignement 2 menus - aligné avec le bouton en :hover */
    .navbar-collapse.collapse {
    padding-left: 0;
    padding-right:0;
    }

/* accueil carousel */
.view-carousel .views-field-body {
    bottom: 30px;
    left: 0;
    padding: 0 25px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em black;

 a {
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    cursor: hand;
    text-align: center;
  }
}

/* Bloc Accueil Présentation */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-group:before, .fa-users:before {
    content: "\f0c0";
}

.feature-box  p {
    color: #777;
    line-height: 24px;
    margin: 0 0 20px;
}

.heading-primary {
    color: #0088cc !important;
}
.mb-none {
    margin-bottom: 0 !important;
}

.feature-box .feature-box-info {
    padding-left: 50px;
}
.feature-box .feature-box-icon {
    background-color: #0088cc;
}
.feature-box .feature-box-icon {
    background: #CCC;
    border-radius: 35px;
    color: #FFF;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 35px;
}

/**/
